/* about.css */
.about-container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.about-container h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.about-container p {
  line-height: 1.7;
  color: #333;
}
